* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  }

  /* header */
  header{
	width: 90%;
	padding: 20px 0;
	margin: 0 auto;
	text-align: center;
  }
  header .heading{
	font-size: 32px;
  }

  /* navigation */
  .nav-list{
	text-align: center;
	padding: 15px 20px;
	margin: 0 auto;
  }
  .nav-list-item{
	list-style: none;
	display: inline-block;
	margin: 0 20px;
  }

  /* main */
  .main{
	margin: 50px auto;
  }
.line1,.line2,.line3{
	width: 800px;
	height: 200px;
	display: flex;
	justify-content: center;
	margin: 0 auto;
}
.box1,.box2,.box3,.box4,.box5,.box6,.box7,.box8,.box9,.box10,.box11,.box12{
	width: 200px;
	height: 200px;
}
.box1{
	background-color: #e6ffe9;
}
.box2{
	background-color: #cdffd3;
}
.box3{
	background-color: #aeffbd;
}
.box4{
	background-color: #93ffab;
}
.box5{
	background-color: #f3ffd8;
}
.box6{
	background-color: #edffbe;
}
.box7{
	background-color: #e9ffa5;
}
.box8{
	background-color: #e4ff8d;
}
.box9{
	background-color: #d9e5ff;
}
.box10{
	background-color: #bad3ff;
}
.box11{
	background-color: #a4c6ff;
}
.box12{
	background-color: #8eb8ff;
}


  /* footer */
  footer{
	width: 100%;
	height: 120px;
	text-align: center;
	line-height: 120px;
	background-color: #848282;
  }
  .footer-text{
	color: #fff;
  }